{
  "openapi": "3.0.3",
  "info": {
    "title": "API PAC Qualidade — Snapshot (Chat)",
    "description": "Rotas transacionais de planos de ação central de qualidade (PAC). Usadas pelo agente GPT de causa raiz via execute_external_action.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://pac-api.minhadelpi.com.br",
      "description": "Subdomínio Cloudflare (nginx próprio da api-pac-quality)"
    }
  ],
  "security": [
    {
      "PacApiKey": []
    }
  ],
  "tags": [
    {
      "name": "PAC Qualidade — planos de ação",
      "description": "CRUD, Ishikawa, 5 Porquês, ações e eficácia."
    },
    {
      "name": "PAC Qualidade — inteligência histórica",
      "description": "Casos similares, padrões de solução e sugestão de ações."
    }
  ],
  "paths": {
    "/quality/action-plans": {
      "post": {
        "operationId": "create_quality_action_plan",
        "tags": ["PAC Qualidade — planos de ação"],
        "summary": "Criar plano de ação",
        "description": "Abre um novo PAC. Status inicial típico: triage ou draft. Não salvar sem confirmação do analista.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateActionPlanBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plano criado",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "list_quality_action_plans",
        "tags": ["PAC Qualidade — planos de ação"],
        "summary": "Listar planos de ação",
        "parameters": [
          { "$ref": "#/components/parameters/status" },
          { "$ref": "#/components/parameters/severity" },
          { "$ref": "#/components/parameters/product_code" },
          { "$ref": "#/components/parameters/customer_name" },
          { "$ref": "#/components/parameters/page" },
          { "$ref": "#/components/parameters/page_size" }
        ],
        "responses": {
          "200": {
            "description": "Lista paginada",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          }
        }
      }
    },
    "/quality/action-plans/{plan_id}": {
      "get": {
        "operationId": "get_quality_action_plan",
        "tags": ["PAC Qualidade — planos de ação"],
        "summary": "Detalhe do plano (Ishikawa, 5 Porquês, ações, histórico)",
        "parameters": [
          { "$ref": "#/components/parameters/plan_id" },
          {
            "name": "detail",
            "in": "query",
            "schema": { "type": "boolean", "default": true }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhe completo",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          }
        }
      }
    },
    "/quality/action-plans/{plan_id}/status": {
      "patch": {
        "operationId": "update_quality_action_plan_status",
        "tags": ["PAC Qualidade — planos de ação"],
        "summary": "Atualizar status do plano",
        "parameters": [{ "$ref": "#/components/parameters/plan_id" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateActionPlanStatusBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status atualizado",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          }
        }
      }
    },
    "/quality/action-plans/{plan_id}/ishikawa": {
      "put": {
        "operationId": "upsert_ishikawa",
        "tags": ["PAC Qualidade — planos de ação"],
        "summary": "Registrar ou atualizar Ishikawa (6M)",
        "parameters": [{ "$ref": "#/components/parameters/plan_id" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/IshikawaBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ishikawa registrado",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          }
        }
      }
    },
    "/quality/action-plans/{plan_id}/five-whys": {
      "put": {
        "operationId": "upsert_five_whys",
        "tags": ["PAC Qualidade — planos de ação"],
        "summary": "Registrar ou atualizar 5 Porquês",
        "parameters": [{ "$ref": "#/components/parameters/plan_id" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/FiveWhysBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "5 Porquês registrados",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          }
        }
      }
    },
    "/quality/action-plans/{plan_id}/actions": {
      "post": {
        "operationId": "create_plan_actions",
        "tags": ["PAC Qualidade — planos de ação"],
        "summary": "Criar ações do plano",
        "parameters": [{ "$ref": "#/components/parameters/plan_id" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateActionsBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ações registradas",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          }
        }
      }
    },
    "/quality/action-plans/{plan_id}/actions/{action_id}": {
      "patch": {
        "operationId": "update_plan_action",
        "tags": ["PAC Qualidade — planos de ação"],
        "summary": "Atualizar ação do plano",
        "parameters": [
          { "$ref": "#/components/parameters/plan_id" },
          { "$ref": "#/components/parameters/action_id" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateActionBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ação atualizada",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          }
        }
      }
    },
    "/quality/action-plans/{plan_id}/effectiveness-review": {
      "post": {
        "operationId": "record_effectiveness_review",
        "tags": ["PAC Qualidade — planos de ação"],
        "summary": "Registrar verificação de eficácia",
        "parameters": [{ "$ref": "#/components/parameters/plan_id" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EffectivenessReviewBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Eficácia registrada",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          }
        }
      }
    },
    "/quality/action-plans/intelligence/similar-cases": {
      "post": {
        "operationId": "search_similar_cases",
        "tags": ["PAC Qualidade — inteligência histórica"],
        "summary": "Buscar casos similares no histórico DELPI",
        "description": "Use após entender o problema. Apresente referências ao analista antes de concluir causa raiz.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SimilarCasesBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Casos similares ranqueados",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          }
        }
      }
    },
    "/quality/action-plans/intelligence/solution-patterns/search": {
      "post": {
        "operationId": "search_solution_patterns",
        "tags": ["PAC Qualidade — inteligência histórica"],
        "summary": "Buscar padrões de solução testados",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SolutionPatternSearchBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Padrões encontrados",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          }
        }
      }
    },
    "/quality/action-plans/intelligence/suggest-actions": {
      "post": {
        "operationId": "suggest_actions",
        "tags": ["PAC Qualidade — inteligência histórica"],
        "summary": "Sugerir ações com base histórica",
        "description": "Sugestão — não substitui validação do analista.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SuggestActionsBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sugestões de ações",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiEnvelope" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "PacApiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Chave PAC_QUALITY_API_KEY — Authorization: Bearer <token>"
      }
    },
    "parameters": {
      "plan_id": {
        "name": "plan_id",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" }
      },
      "action_id": {
        "name": "action_id",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" }
      },
      "status": {
        "name": "status",
        "in": "query",
        "schema": { "type": "string" }
      },
      "severity": {
        "name": "severity",
        "in": "query",
        "schema": { "type": "string", "enum": ["low", "medium", "high", "critical"] }
      },
      "product_code": {
        "name": "product_code",
        "in": "query",
        "schema": { "type": "string" }
      },
      "customer_name": {
        "name": "customer_name",
        "in": "query",
        "schema": { "type": "string" }
      },
      "page": {
        "name": "page",
        "in": "query",
        "schema": { "type": "integer", "minimum": 1, "default": 1 }
      },
      "page_size": {
        "name": "page_size",
        "in": "query",
        "schema": { "type": "integer", "minimum": 1, "maximum": 200, "default": 50 }
      }
    },
    "schemas": {
      "ApiEnvelope": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "data": {},
          "error": { "type": "object", "nullable": true }
        }
      },
      "CreateActionPlanBody": {
        "type": "object",
        "required": ["title"],
        "properties": {
          "title": { "type": "string" },
          "customer_name": { "type": "string" },
          "customer_contact": { "type": "string" },
          "source_type": {
            "type": "string",
            "enum": ["email", "message", "spreadsheet", "pdf", "image", "manual_text", "system_reference", "other"]
          },
          "source_reference": { "type": "string" },
          "product_code": { "type": "string" },
          "product_description": { "type": "string" },
          "batch_number": { "type": "string" },
          "reported_problem": { "type": "string" },
          "detected_at": { "type": "string" },
          "reported_at": { "type": "string" },
          "severity": { "type": "string", "enum": ["low", "medium", "high", "critical"] },
          "status": { "type": "string", "enum": ["draft", "triage"] },
          "owner_user_id": { "type": "string" },
          "department": { "type": "string" },
          "problem_category": { "type": "string" },
          "symptom_tags": { "type": "array", "items": { "type": "string" } },
          "root_cause_category": { "type": "string" },
          "failure_mode": { "type": "string" },
          "recurrence_key": { "type": "string" }
        }
      },
      "UpdateActionPlanStatusBody": {
        "type": "object",
        "required": ["status"],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "triage",
              "containment",
              "root_cause_analysis",
              "action_plan_defined",
              "in_progress",
              "waiting_validation",
              "completed",
              "cancelled"
            ]
          },
          "comment": { "type": "string" }
        }
      },
      "IshikawaBody": {
        "type": "object",
        "properties": {
          "machine": { "type": "string" },
          "method_process": { "type": "string" },
          "material": { "type": "string" },
          "manpower": { "type": "string" },
          "measurement": { "type": "string" },
          "environment": { "type": "string" },
          "notes": { "type": "string" }
        }
      },
      "FiveWhysBody": {
        "type": "object",
        "properties": {
          "why_1": { "type": "string" },
          "why_2": { "type": "string" },
          "why_3": { "type": "string" },
          "why_4": { "type": "string" },
          "why_5": { "type": "string" },
          "root_cause": { "type": "string" },
          "confidence_level": { "type": "string", "enum": ["low", "medium", "high"] }
        }
      },
      "CreateActionsBody": {
        "type": "object",
        "required": ["actions"],
        "properties": {
          "actions": {
            "type": "array",
            "minItems": 1,
            "items": { "$ref": "#/components/schemas/ActionItemBody" }
          }
        }
      },
      "ActionItemBody": {
        "type": "object",
        "required": ["action_type", "description"],
        "properties": {
          "action_type": {
            "type": "string",
            "enum": ["containment", "corrective", "preventive", "verification", "standardization", "training"]
          },
          "description": { "type": "string" },
          "responsible_user_id": { "type": "string" },
          "responsible_name": { "type": "string" },
          "department": { "type": "string" },
          "due_date": { "type": "string" },
          "status": { "type": "string", "enum": ["pending", "in_progress", "blocked"] },
          "evidence_required": { "type": "boolean" }
        }
      },
      "UpdateActionBody": {
        "type": "object",
        "properties": {
          "description": { "type": "string" },
          "responsible_user_id": { "type": "string" },
          "responsible_name": { "type": "string" },
          "department": { "type": "string" },
          "due_date": { "type": "string" },
          "status": {
            "type": "string",
            "enum": ["pending", "in_progress", "blocked", "completed", "cancelled", "overdue"]
          },
          "evidence_required": { "type": "boolean" }
        }
      },
      "EffectivenessReviewBody": {
        "type": "object",
        "required": ["effectiveness_status"],
        "properties": {
          "effectiveness_status": {
            "type": "string",
            "enum": ["pending", "effective", "partially_effective", "ineffective", "not_verified"]
          },
          "notes": { "type": "string" }
        }
      },
      "SimilarCasesBody": {
        "type": "object",
        "required": ["problem_description"],
        "properties": {
          "problem_description": { "type": "string" },
          "product_code": { "type": "string" },
          "customer_name": { "type": "string" },
          "batch_number": { "type": "string" },
          "symptoms": { "type": "array", "items": { "type": "string" } },
          "failure_mode": { "type": "string" },
          "root_cause_category": { "type": "string" },
          "problem_category": { "type": "string" }
        }
      },
      "SolutionPatternSearchBody": {
        "type": "object",
        "properties": {
          "problem_category": { "type": "string" },
          "failure_mode": { "type": "string" },
          "root_cause_category": { "type": "string" },
          "symptom_tags": { "type": "array", "items": { "type": "string" } }
        }
      },
      "SuggestActionsBody": {
        "type": "object",
        "required": ["problem_description"],
        "properties": {
          "problem_description": { "type": "string" },
          "problem_category": { "type": "string" },
          "failure_mode": { "type": "string" },
          "root_cause_category": { "type": "string" },
          "symptom_tags": { "type": "array", "items": { "type": "string" } }
        }
      }
    }
  }
}
